body {
  transition: 100ms;
}

input {
  color: gray
}

.underscore {
  text-decoration: underline;
}

.navbar-menu {
  background: -webkit-linear-gradient(to right, #004e92, #000428);

}

.va {
  display: flex;
  align-items: center;
}


.hero,
.cta {
  background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1d4568, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


footer {
  color: white;
  background: rgb(14, 14, 14) !important;
}


footer a {
  color: rgb(36, 78, 156);
}

.title {
  color: white;
  font-weight: 800;
  font-size: 4rem;
  font-family: 'Nunito Sans', sans-serif;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

.subtitle {
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

hr.content-divider {
  max-width: 75px;
  height: 5px;
}

#parallax-1 {
  background: url(https://images.unsplash.com/photo-1551151568-780b73811535?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Y29tcHV0ZXJzfHx8fHx8MTYyNzA2MTQ3Ng&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-1 hr {
  background: black;
}

#parallax-2 {
  background: url(https://images.unsplash.com/photo-1498409785966-ab341407de6e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Y29tcHV0ZXJzfHx8fHx8MTYyNzA2MTczOQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid black;
}

#parallax-2 hr {
  background: black;
}

#parallax-3 {
  background: url(https://images.unsplash.com/photo-1551783841-0271a5f7c868?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Y2l0eXx8fHx8fDE2MjcwNjE3NzE&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid black;
}

#parallax-3 hr {
  background: 4px solid black;
}

.label {
  color: black;
}

input {
  background: transparent !important;
  border: 1px solid black !important;
  color: white !important;
}

input::placeholder {
  color: white !important;
}