:root {
  --main-color: white;
  --secondary-main-color: white;
  --white-text: #f8f7f5;
}

body {
  transition: 100ms;
  background: var(--main-color);
  color: var(--white-text);
}

input {
  color: rgb(83, 83, 83);
}

.login-text {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, .87);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(44, 44, 44);
}

.custom-card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 10px;
}

.underscore {
  text-decoration: underline;
}

a:hover {
  color: #000;
}

a {
  color: #000000;
}

.navbar-item, .navbar-link {
  color: #000000;
}

.navbar {
  background: rgba(255, 255, 255, 0.753);
}

.va {
  display: flex;
  align-items: center;
}

.navbar-brand {
  background: rgba(255, 255, 255, 0.568);
}

.hero, .cta {
  background: #000428;
  /* fallback for old browsers */
  background: var(--main-color);
  /* Chrome 10-25, Safari 5.1-6 */
  background: var(--main-color);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-wrap {
  padding: 28px;
  background: var(--secondary-main-color);
}

footer {
  color: var(--white-text);
  background: rgb(14, 14, 14) !important;
  ;
}

footer a {
  color: rgb(36, 78, 156);
}

.title {
  color: #000;
  font-family: 'Nunito Sans', sans-serif;
}

.subtitle {
  color: var(--white-text);
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

hr.content-divider {
  max-width: 75px;
  height: 5px;
}

#parallax-1 {
  background: url(https://images.unsplash.com/photo-1551151568-780b73811535?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Y29tcHV0ZXJzfHx8fHx8MTYyNzA2MTQ3Ng&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-1 hr {
  background: rgb(65, 216, 51);
}

#parallax-2 {
  background: url(https://images.unsplash.com/photo-1498409785966-ab341407de6e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Y29tcHV0ZXJzfHx8fHx8MTYyNzA2MTczOQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 20px solid var(--white-text);
}

#parallax-2 hr {
  background: black;
}

#parallax-3 {
  background: url(https://images.unsplash.com/photo-1551783841-0271a5f7c868?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Y2l0eXx8fHx8fDE2MjcwNjE3NzE&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 20px solid var(--white-text);
}

#parallax-3 hr {
  background: 20px solid black;
}

.label {
  color: black;
}

input {
  background: transparent;
  border: 1px solid black !important;
 
}

input::placeholder {
  color: rgb(109, 109, 109) !important
}

.loginBtn {
  background: #111111;
  border-color: #000000;
  color: #fff;
  
}

.loginBtn:hover {
  background: #494949;
  border-color: #0a0a0a;
  color: #fff;
  border-radius: 10px;
}

.signupBtn {
  background: #5a228f;
  border-color: #000000;
  color: #fff;
}

.signupBtn:hover {
  background: #732db4;
  border-color: #000000;
  color: #fff;
  border-radius: 10px;
}