.full {
  margin-bottom: 10vh !important;
}

.fullBuild2 {
  margin-bottom: 20vh !important;
}

.fullBuild3 {
  margin-bottom: 30vh !important;
}

.fullBuild4 {
  margin-bottom: 40vh !important;
}

input {
  max-width: 500px !important;
  background: rgba(0, 0, 0, 0.541) !important;
  border: solid 1px rgb(94, 94, 94) !important;
  color: white !important;
}

textarea {
  max-width: 500px !important;
  background: rgba(0, 0, 0, 0.541) !important;
  border: solid 1px rgb(94, 94, 94) !important;
  color: white !important;
}

.btnG {
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  border: solid rgb(0, 0, 0) 1px !important;
  color: rgb(0, 0, 0) !important;
  transition: 200ms;
}

.btnG:hover {
  background-color: #3bb78f;
  background-image: linear-gradient(100deg, #3bb78f 0%, #0bab64 74%);
  border: solid rgb(0, 0, 0) 1px !important;
  color: rgb(0, 0, 0) !important;
  border-radius: 10px;
  transition: 200ms;
}

.label {
  color: white !important;
}

.container {

}

.profile {
  background: rgba(0, 0, 0, 0.541);
  box-shadow: 10px 10px 10px var(--shadowDark), -1px -1px 1px var(--shadowLight);
  border-radius: 10px;
  padding: 10px;
  min-height: 1000px;
}

.contain1 {
  background: rgba(0, 0, 0, 0.541);
  box-shadow: 10px 10px 10px var(--shadowDark), -1px -1px 1px var(--shadowLight);
  border-radius: 10px;
  padding: 10px;
  max-width: 1000px !important;
}

.contain {
  background: rgba(0, 0, 0, 0.541);
  box-shadow: 10px 10px 10px var(--shadowDark), -1px -1px 1px var(--shadowLight);
  border-radius: 10px;
  max-width: 500px !important;
}

::placeholder {
  color: rgb(165, 165, 165) !important;
}

.margin1 {
  margin-top: 10vh !important;
  margin-bottom: 10vh !important;
}