
:root {
  --shadowDark: #00000065;
  --background: #E4E9F2;
  --shadowLight: #00000083;
}


.hero-body {
  justify-content: center;
}

.login {
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
  background: rgba(0, 0, 0, 0.541);
}

.inputLoginSign {
  background: var(--shadowDark) !important;
}

a {
  font-weight: 600;
}

.title {
  margin-bottom: 20px;
  text-shadow: black 5px 1px 3px !important;
}