.container-wrap {
  box-shadow: 0 2px 13px -2px rgba(0, 0, 0, .2);
  margin-bottom: 75px;
  background: grey;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.795) !important;
  border-bottom: solid rgb(255, 255, 255) 1px;
  padding: 5px;
}

.navbar-item {
  color: aliceblue !important;
}

.navbar-link {
  color: aliceblue !important;
  background:rgba(20, 20, 20, 0) !important;
}

.navbar-link:hover {
  background:rgba(20, 20, 20, 0) !important;
  border-radius: 10px;
  transition: 100ms;
}

.navbar-item:hover {
  background:rgba(20, 20, 20, 0) !important;
  border-radius: 10px;
  transition: 100ms;
  
}

.navbar-item:focus {
  background:rgb(20, 20, 20) !important;
  border-radius: 10px;
  transition: 100ms;
  
}

.navbar-dropdown {
  background:rgb(20, 20, 20) !important;
  border-radius: 10px;
  transition: 100ms;
  
}

.navbar-link:focus {
  background:rgb(20, 20, 20) !important;
  border-radius: 10px;
  transition: 100ms;
}

.navbar-link:focus-within {
  background: rgb(20, 20, 20) !important;
  border-radius: 10px;
  transition: 100ms;
}

.navbar-menu {
  background: rgba(20, 20, 20, 0) !important;
}

.btnSign {
  color: white !important;;
  background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%) !important;
  text-shadow: black 2px 2px 3px;
}

.btnSign:hover {
  color: white !important;
  background-color: #89d4cf;
  background-image: linear-gradient(100deg, #89d4cf 0%, #6e45e1 74%) !important;
  text-shadow: black 1px 1px 3px;
  border-radius: 10px;
  transition: 200ms;
}

.btnLogin {
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
  color: white !important;
  text-shadow: black 2px 2px 3px;
}

.btnLogin:hover {
  color: white !important;
  background: linear-gradient(100deg, #29539b 0%, #1e3b70 74%) !important;
  text-shadow: black 1px 1px 3px;
  border-radius: 10px;
  transition: 200ms;
}

.btnView {
  color: white !important;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%) !important;
  text-shadow: black 2px 2px 3px;
  transition: 2s ease-out;
}

.btnView:hover {
  color: white !important;
  background-image: linear-gradient(100deg, #4c4177 0%, #2a5470 74%) !important;
  text-shadow: black 1px 1px 3px;
  transition: 2s ease-out;
  border-radius: 10px;
  transition: 200ms;
}

.button {
  border: transparent !important;
}

.brandicon {
  margin-top: 10px ;
}